@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento&family=Roboto:wght@300&display=swap");

@font-face {
  font-family: "Futura";
  src: url(../assets/Fonts/FuturaCondensedRegular.ttf);
}

$colors: (
  color-bg-main: #131313,
  color-font-main: white,
);

$fonts: (
  Oswald: "Oswald",
  Quattrocento: "Quattrocento",
);
$screen-large: 800px;
@mixin screen-lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}
$sizes: (
  xs: 0.5ex,
  sm: 1ex,
  md: 1.5ex,
  lg: 2ex,
  xl: 4ex,
);

@function useFont($font) {
  @return map-get($fonts, $font);
}

@function useColor($color) {
  @return map-get($colors, $color);
}

@function useSize($size) {
  @return map-get($sizes, $size);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: useFont(Quattrocento);
  display: grid;
  @include screen-lg {
    grid-template-columns: max-content auto;
  }
}
ul {
  list-style: none;
}
a {
  font-family: inherit;
  text-decoration: none;
}
header {
  background-color: fuchsia;
  .navigation {
    position: sticky;
    padding: useSize(xl) useSize(sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      align-items: center;
      gap: 2ex;
      img {
        width: 60px;
      }
      h1 {
        text-transform: uppercase;

        @include screen-lg {
          // white-space: pre-wrap;
          font-size: 1rem;
          width: 10ch;
          display: inline;
        }
      }
    }

    &__toggle {
      display: grid;
      place-items: center;
      span {
        color: white;
        font-size: 2rem;
      }
      @include screen-lg {
        display: none;
      }
    }
  }
  .dropdown {
    height: 0;
    // opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    gap: 1em;
    transition: clip-path 350ms ease-out 150ms;
    clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
    @include screen-lg {
      clip-path: none;
      height: 100%;
      flex-direction: column;
      justify-content: start;
    }

    &__show {
      height: auto;
      // opacity: 1;
      clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    }
    &__item {
      cursor: pointer;
      padding: useSize(md);
    }
  }
}
main {
  height: 400vh;
}
