@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&family=Old+Standard+TT:ital@0;1&display=swap");

@font-face {
  font-family: "Futura";
  src: url(../assets/Fonts/FuturaCondensedRegular.ttf);
}

$colors: (
  color-bg-main: #131313,
  color-font-main: white,
);

$fonts: (
  Muli: "Mulish",
  OldStandardTT: "Old Standard TT",
);
$screen-large: 800px;
// @mixin screen-lg {
//   @media (min-width: #{$screen-large}) {
//     @content;
//   }
// }
@mixin screen-lg {
  @media (min-width: 800px) {
    @content;
  }
}
$sizes: (
  xs: 0.5ex,
  sm: 1ex,
  md: 1.5ex,
  lg: 2ex,
  xl: 4ex,
);

@function useFont($font) {
  @return map-get($fonts, $font);
}

@function useColor($color) {
  @return map-get($colors, $color);
}

@function useSize($size) {
  @return map-get($sizes, $size);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: useFont(Mulish);
  display: grid;
  @include screen-lg {
    grid-template-columns: max-content auto;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
header {
  .navigation {
    position: sticky;
    padding: useSize(xl) useSize(sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 2ex;
      .image {
        width: 20ex;
        aspect-ratio: 3/1;
        border: 1px solid black;
      }
      h1 {
        text-transform: uppercase;
        font-family: useFont(OldStandardTT);
        font-style: italic;

        @include screen-lg {
          // white-space: pre-wrap;
          font-size: 1rem;
          width: 10ch;
          display: inline;
        }
      }
    }

    &__toggle {
      display: grid;
      place-items: center;
      span {
        font-size: 2rem;
      }
      @include screen-lg {
        display: none;
      }
    }
  }
  .dropdown {
    font-family: useFont(OldStandardTT);
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__show {
      height: auto;
      padding: 0 0 useSize(xl) 0;
      // clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
      .dropdown__item {
        clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
      }
    }
    &__item {
      cursor: pointer;
      padding: useSize(xs) useSize(sm);
      // margin: 0 useSize(xl);
      border: 1px solid white;
      display: flex;
      justify-content: center;
      transition: clip-path 300ms ease-out;
      clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);

      @include screen-lg {
        border: none;
        justify-content: start;
        clip-path: none;
      }
    }

    li:nth-child(2) {
      transition-delay: 300ms;
    }
    li:nth-child(3) {
      transition-delay: 600ms;
    }
    li:nth-child(4) {
      transition-delay: 900ms;
    }
    @include screen-lg {
      clip-path: none;
      height: 100%;
      flex-direction: column;
      justify-content: start;
    }
  }
}
main {
  height: 500vh;
  display: grid;
  grid-template-columns: 4vw repeat(4, (1rem 1fr 1rem)) 4vw;
  grid-template-rows: 1fr 6em 1fr 6em repeat(5, 1fr);

  .story-yellow {
    grid-column: 2/14;
    background-color: yellow;
  }
  .story-green {
    grid-row: 2 / span 1;
    background-color: green;
    grid-column: 3/4;
  }
  .story-blue {
    grid-row: 3 / span 2;
    background-color: blue;
    grid-column: 7/15;
  }
  .story-red {
    grid-row: 2 / span 3;
    background-color: red;
    grid-column: 4/7;
  }
  .story-gold {
    grid-column: 10/15;
    background-color: gold;
    grid-row: 4 / span 1;
  }
}
